body {
  background: #FDFCF6;
  font-family: sans-serif; }

.container {
  width: 900px;
  margin: 0 auto; }

.container .right-block {
  float: right;
  width: 300px;
  border: 3px dashed #455F54;
  border-radius: 6px;
  padding: 0 10px 20px;
  margin: 10px 0 20px 20px; }
.container .right-block .title {
  text-align: center;
  position: relative;
  color: #941E34; }

.seoul-color {
  width: 100%;
}

.seoul-color td {
  color: transparent;
  font-size: 0;
  line-height: 4px;
}

.welcome-header {
  text-align: center;
  padding: 58px 0 5px;
  background: #D8CCAD;}

.hero-text {
  font-size: 36px;
  font-weight: bold; }

.footer {
  background-color: #005468;
  padding: 1em;
  color: #FDFCF6;
  margin-top: 4em; }
  .footer .text-center {
    font-size: 40px;
    margin: 0.5em; }

.divider:before {
  content: '. . . . . .';
  width: 100%;
  display: block;
  text-align: center;
  color: #005468; }

.text-center {
  text-align: center; }

.doc-title {
  font-size: 32px;
  position: relative;
  margin-top: 1.5em;
  color: #941E34; }

.doc-content p {
  font-size: 18px;
  margin: 0 0 1em;
  color: #555; }

.user-groups {
  background-color: #F6F5EF;
  -webkit-border-radius: 6px;
          border-radius: 6px;

}
.user-groups li{
    width: 50%;
    float: left;
    margin: 10px 0;
}

.clear {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
