{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block top %}
<div class="frontpage">
  <div class="container slogan">
    <h1>{% trans "Python," %}</h1>
    <h1>{% trans "Together," %}</h1>
    <h1>{% trans "Successful." %}</h1>
    <h3>{% trans "Frontpage schedule" %}</h3>
    {% include "badge/all.html" %}
  </div>
{% with navbar_class="navbar-translucent" %}
    {% include "nav.html" %}
{% endwith %}
</div>
{% endblock %}

{% block content %}
<div class="wrap">
  <h2>{% trans "Announcements" %}</h2>
  {% for announcement in recent_announcements %}
  <dl class="announcements">
    <dt>
      <h4>
        <a href="{% url "announcement" announcement.id %}">{{ announcement }}</a>
        <span class="datetime">{{ announcement.created|date:"Y-m-d" }}</span>
      </h4>
    </dt>
    <dd>
      {{ announcement.desc|striptags|truncatechars:300|safe }}
      <a href="{% url "announcement" announcement.id %}">
        <span class="continue">{% trans "Read more" %}</span>
      </a>
    </dd>
  </dl>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
var $target = $('.frontpage');
var bgMax = 5;
var bg = Math.floor(Math.random() * bgMax + 1);

function changeBg() {
    $target.removeClass('bg' + bg);
    bg = bg % bgMax + 1;
    $target.addClass('bg' + bg);
    setTimeout(function() { changeBg(); }, 7000);
}
changeBg();
</script>
{% endblock %}
