{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<link href="{% static "components/kenburnsy/dist/jquery.kenburnsy.css" %}" rel="stylesheet">
<script src="{% static "components/velocity/velocity.min.js" %}"></script>
<script src="{% static "components/kenburnsy/dist/jquery.kenburnsy.min.js" %}"></script>
{% endblock %}

{% block top %}
<div class="frontpage">
    <div class="slides">
        <img src="{% static "image/jumboback1.jpg" %}">
        <img src="{% static "image/jumboback2.jpg" %}">
        <img src="{% static "image/jumboback3.jpg" %}">
    </div>
    <div class="onslides">
        <div class="container">
            <div class="slogan">
                <h1>{% trans "Python," %}</h1>
                <h1>{% trans "Together," %}</h1>
                <h1>{% trans "Successful." %}</h1>
                <h3>{% trans "Frontpage schedule" %}</h3>
                {% include "badge/all.html" %}
            </div>
        </div>
        {% with navbar_class="navbar-translucent" %}
        {% include "nav.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block content %}
<section id="overview">
{{ content | safe }}
</section>
{% endblock %}

{% block script %}
<script>
$(function() {
    $(".slides").kenburnsy({
        'height': $(".slides").height()
    });
});
</script>
{% endblock %}
