{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "Login via mail" %}</h3>
<form method="post">
  {% csrf_token %}
  <div class="col-lg-6">
    <div class="input-group">
        {{ form }}
      <span class="input-group-btn">
        <button class="btn btn-large btn-primary" type="submit">Login</button>
      </span>
    </div>
  </div>
  <div class="clear"></div>
</form>
<hr>
<div class="alert alert-info" role="alert">
    {% trans "We store your mail address only. Never store password or any personal information." %}
</div>
{% endblock %}
