{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<h3>{% trans "Login via mail" %}</h3>
<div class="alert alert-info" role="alert">
    {% trans "We store your mail address only. Never store password or any personal information." %}
</div>
{% crispy form %}
<hr>
<h3>{% trans "Login via Social accounts" %}</h3>
<p>
    <a class="btn btn-social btn-github" href="{% provider_login_url "github" %}">
        <i class="fa fa-github"></i> {% trans "Sign in with GitHub" %}</a>
    <a class="btn btn-social btn-twitter" href="{% provider_login_url "twitter" %}">
        <i class="fa fa-twitter"></i> {% trans "Sign in with Twitter" %}</a>
</p>
{% endblock %}
