<table class="seoul-color" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="background:#941E34">SC0908</td>
      <td style="background:#BC6F25">SC1956</td>
      <td style="background:#E5B560">SC1944</td>
      <td style="background:#455F54">SC4907</td>
      <td style="background:#6789CA">SC7909</td>
      <td style="background:#594743">SC0916</td>
      <td style="background:#A4A199">SC2920</td>
      <td style="background:#504E49">SC2940</td>
      <td style="background:#D8CCAD">SC1941</td>
      <td style="background:#DFDFDD">SCN902</td>
    </tr>
  </tbody>
</table>
