Django==1.8
Pillow==2.8.1
django-allauth==0.19.1
django-crispy-forms==1.4.0
django-jsonfield==0.9.13
django-modeltranslation==0.9
django-rosetta==0.7.6
django-summernote==0.6.3
microsofttranslator==0.5
oauthlib==0.7.2
polib==1.0.6
python-openid==2.2.5
requests==2.6.0
requests-oauthlib==0.4.2
six==1.9.0
wsgiref==0.1.2
