{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div>
        {% if registration.payment_status == 'paid' %}
            <div>등록 완료</div>
            <div>
                <p>정상적으로 등록이 완료되었습니다.</p>
            </div>
            <table>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <td>{{ registration.name }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Email' %}</th>
                    <td>{{ registration.email }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Amount' %}</th>
                    <td>15,000원</td>
                </tr>
                <tr>
                    <th>{% trans 'Transaction Code' %}</th>
                    <td>{{ registration.transaction_code }}</td>
                </tr>
                <tr>
                    <th>{% trans 'Time' %}</th>
                    <td>{{ registration.modified }}</td>
                </tr>
            </table>
            <div>
                <button >{% trans 'Cancel' %}</button>
            </div>
        {% elif registration.payment_status == 'ready' %}
            <div>입금 확인 중</div>
            <div>
                <p>입금 내역을 확인 중입니다.</p>
            </div>
            <div>
                <table>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <td>{{ registration.name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Email' %}</th>
                        <td>{{ registration.email }}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Amount' %}</th>
                        <td>15,000원</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Transaction Code' %}</th>
                        <td>{{ registration.transaction_code }}</td>
                    </tr>
                    <tr>
                        <th>입금하실 은행</th>
                        <td>{{ registration.vbank_name }}</td>
                    </tr>
                    <tr>
                        <th>입금하실 계좌번호 </th>
                        <td>{{ registration.vbank_num }}</td>
                    </tr>
                    <tr>
                        <th>입금기한</th>
                        <td>{{ registration.vbank_date }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <button >{% trans 'Cancel' %}</button>
            </div>
        {% else %}
            <div>등록 내역이 없습니다.</div>
            <div>
                <p></p>
            </div>
        {% endif %}
    </div>
{% endblock %}

