{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% for obj in object_list %}
<a href="#{{ obj.slug }}">
  <h3 id="{{ obj.slug }}">
    {{ obj.name }}
  </h3>
</a>
<ul>
  {% for program in obj.program_set.all %}
  <li>
    <a href="{{ program.get_absolute_url }}">{{ program.name }}</a>
    {% if program.slide_url %}
    <small><a href="{{ program.slide_url }}"><span class="label label-primary">{% trans "Slides link" %}</span></a></small>
    {% endif %}
    {% if program.video_url %}
    <small><a href="{{ program.video_url }}"><span class="label label-info">{% trans "Video link" %}</span></a></small>
    {% endif %}
    {% if program.pdf_url %}
    <small><a href="{{ program.pdf_url }}"><span class="label label-danger">{% trans "PDF link" %}</span></a></small>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% endblock %}
