{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <h1>등록</h1>
        <div>{% crispy form %}</div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment.subscribe.js"></script>
    <script>
        // TODO : i18n
        $(document).ready(function() {
            $('#registration-form').submit(function(e) {
                e.preventDefault();

                IMP.SBCR.init('{{ IMP_USER_CODE }}');
                IMP.SBCR.onetime({
                    merchant_uid: '{{ uid }}',
                    amount: parseInt('{{ amount }}'),
                    vat: parseInt('{{ vat }}')
                }, function(response) {
                    console.log(this);
                    console.log(response);

                    if(!response.token) {
                        // TODO :
                        alert(response.message);
                        return;
                    }

                    response['csrfmiddlewaretoken'] = '{{ csrf_token }}';
                    // TODO : validation
                    response['name'] = $('#id_name').val();
                    response['email'] = $('#id_email').val();
                    response['payment_method'] = $('#id_payment_method').val();

                    $.ajax({
                        method: 'POST',
                        url: '{% url 'registration' %}',
                        data: response,
                        dataType: 'json'
                    }).done(function(result) {
                        if(result.success == undefined) {
                            // TODO :
                            alert('결제에 실패했습니다. 다시 시도해 주세요.');
                            this.close();
                            return;
                        }

                        if(!result.success) {
                            alert('결제에 실패했습니다. ' + result.code + ' ' + result.message);
                            this.close();
                            return;
                        }

                        alert('결제가 완료되었습니다.');
                        this.close();
                        // TODO : redirect
                    }.bind(this)).fail(function(xhr, status, error) {
                        console.log(arguments);

                        alert('결제에 실패했습니다. 다시 시도해 주세요.' + error);
                        // TODO :
                    }.bind(this));
                });
            });
            $('#submit-id-submit').attr('disabled', false);
        });
    </script>
{% endblock %}
