html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", "Arial", sans-serif;
}

.title {
    position: relative;
    text-align: center;
}

.headline {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.headline h1 {
    font-size: 48px;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#canvas-flood {
    background: #c70a0d;

    margin: 20px 0;
    width: 90%;
    max-width: 480px;
    max-height: 480px;

    -webkit-user-select: none;
    touch-action: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
