@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Open Sans', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
}

.seoul-color {
    width: 100%;
}

.seoul-color td {
    color: rgba(0, 0, 0, 0);
    font-size: 0;
    line-height: 8px;
}

.title {
    position: relative;
    text-align: center;
    width: 92%;
    max-width: 960px;
    margin: auto;
}

.headline {
    width: 100%;
}

.headline h1 {
    font-size: 3.5em;
    text-align: center;
    font-weight: 700;
    margin: 10px 0 20px;
}

.content {
}

.wrap {
    width: 92%;
    max-width: 960px;
    margin: auto;

}

hr {
    width: 80%;
    max-width: 480px;
    border: 2px solid black;
    margin: 60px auto;
}

.content h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 10px 0 50px;
}

.content h3 {
    border-left: 7px solid #3570a1;
    padding-left: 16px;
    padding-bottom: 2px;
    font-size: 1.5em;
    margin: 40px 0 10px;
}

.content h4 {
    font-size: 1.15em;
    margin: 0;
}

.content p,
.content li {
    font-size: 1.05em;
    line-height: 172%;
}

.content p {
    margin-top: 3px;
}

.content a {
    border-radius: 10px;
    padding: 6px 16px 7px;
    border: 3px solid #333;
    line-height: 300%;
    text-decoration: none;
    color: black;
    background-color: #fedc77;
    font-weight: 700;
}

.content a:hover {
    background-color: #ffec82;
}

.content .nav {
    line-height: 150%;
    background-color: #fff;
    float: right;
}

.content .nav:hover {
    background-color: #ddd;
}

.photoalbum {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    font-size: 0;
}

.hoodie-sample {
    border-radius: 200px;
    width: 200px;
    height: auto;
    float: right;
    padding: 10px;
}

.photoalbum li {
    margin: 0;
    padding: 0;
    display: inline;
}

.photoalbum img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photoalbum .photo-lg {
    width: 100%;
    height: auto;
    border: 5px solid white;
}

.photoalbum .photo-sm {
    width: 33.33%;
    height: auto;
    border: 5px solid white;
}

.footer {
    text-align: center;
    padding: 10% 0 0;
}

.footer p {
    font-size: 0.9em;
}

.footer .badge {
    width: 64px;
    height: auto;
}

.footer span {
    color: #999;
    font-size: 0.5em;
}

.hanriver {
    font-size: 0;
}

#hanriver-upper {
    width: 100%;
    height: auto;
}

#hanriver-lower-lake {
    width: 100%;
}

#canvas-flood {
    margin-top: 20px;
    width: 90%;
    max-width: 480px;
    max-height: 480px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.side-by-side {
    width: 100%;
    background: #eee;
}

.side-by-side td,
.side-by-side th {
    font-size: 1em;
}

.side-by-side td {
    background: #fff;
    text-align: center;
}

@media (max-width: 640px) {
    .hoodie-sample {
        width: 96px;
    }

    .content p,
    .content li {
        font-size: 0.95em;
        line-height: 172%;
    }

    .footer p {
        font-size: 0.9em;
    }

    .content ul {
        padding-left: 20px;
    }

    .photoalbum .photo-sm {
        width: 50%;
    }

    .side-by-side td,
    .side-by-side th {
        font-size: 0.7em;
    }
}
