* {
    font-family: 'Open Sans', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    font-weight: 400;
    line-height: 172%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

body, html {
    margin: 0;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, th, .title {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    color: #0d284a;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    color: #0d284a;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: 700;
    line-height: 200%;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: 700;
}

small a:hover {
    text-decoration: none;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.navbar {
    padding: 10px 0;
    margin-bottom: 0px !important;
    background: none;
    border: 0;
    border-radius: 0;
}

.navbar .navbar-nav>li>a {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    font-weight: 300;
    color: #333;
}

.navbar .dropdown-menu>li>a {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    font-weight: 300;
    color: #333;
    font-size: 16px;
    padding: 3px 20px;
}

.navbar .dropdown-menu>.active>a,
.navbar .dropdown-menu>.active>a:hover,
.navbar .dropdown-menu>.active>a:focus {
    background-color: #ccc;
}

.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus {
    background-color: #fafafa;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border: 0;
}

.navbar .glyphicon {
    margin-right: 3px;
    top: 2px;
}

.navbar .glyphicon-python {
    width: 16px;
    height: 16px;
    background: url("../image/python-black-small.png");
    background-size: 100% 100%;
}

.navbar .navbar-brand {
    float: none;
    padding: 5px 25px 5px 15px;
}

.navbar .navbar-brand img {
    width: auto;
    height: 50px;
}

.navbar .navbar-toggle {
    border-radius: 48px;
    padding: 5px;
}

.navbar .navbar-toggle .glyphicon {
    width: 24px;
    height: 24px;
    top: 4px;
    margin: 0 4px;
}

.navbar-translucent .navbar-brand {
    display: none;
}

.navbar-translucent .glyphicon-python {
    background: url("../image/python-white.png");
    background-size: 100% 100%;
}

.navbar-translucent .navbar-nav>li>a {
    font-weight: 700;
    color: #fff;
}

.navbar-translucent .nav>li>a:hover,
.navbar-translucent .nav>li>a:focus {
    background-color: rgba(0,0,0,0.2);
}

.navbar-translucent .navbar-nav>.open>a,
.navbar-translucent .navbar-nav>.open>a:hover,
.navbar-translucent .navbar-nav>.open>a:focus {
    background-color: rgba(0,0,0,0.4);
}

.navbar-translucent .navbar-toggle {
    border: 2px solid #fff;
    color: #eee;
    background-color: rgba(0,0,0,0.4);
}

.navbar-translucent .navbar-toggle .icon-bar {
    background-color: white;
}

.wrap {
    padding: 5px 0;
}

.content {
    padding-bottom: 100px;
}

.content > p:first-child,
.content > div:first-child {
    margin-top: 15px;
}

.content img {
    max-width: 100%;
}

.side-by-side {
    width: 100%;
}

.side-by-side td,
.side-by-side th {
    font-size: 1em;
    text-align: center;
}

.side-by-side th {
    background: #eee;
}

.content .map {
    max-width: 100%;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
}

.titlebar {
    position: relative;
    padding: 2px 0 10px 0;
    background: #FAFAFA;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    overflow: hidden;
}

.titlebar h1 {
    margin: 0;
}

.titlebar .container {
    position: relative;
}

.titlebar .halftone {
    position: absolute;
}

.titlebar .halftone-red {
    width: 50%;
    height: auto;
    top: -200px;
    right: 60px;
}

.titlebar .halftone-blue {
    width: 50%;
    height: auto;
    top: -90px;
    right: -40px;
}

.frontpage {
    position: relative;
    padding: 0;
    background: #394556;
    z-index: 1;
}

.frontpage .slides {
    width: 100%;
    height: 580px;
}

.frontpage .onslides {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.frontpage .onslides .navbar {
    width: 100%;
    position: absolute;
    bottom: 0;

    margin: 0;
    padding: 0;
}

.frontpage .slogan {
    color: #FAFAFA;
    padding: 3% 15px;
}

.frontpage .slogan h1 {
    color: #FFFFFF;
    font-size: 600%;
    line-height: 90%;
    font-weight: 700;
}

.frontpage .slogan h3 {
    color: #FFFFFF;
    font-weight: 200;
    margin-bottom: 20px;
}

.frontpage .background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 100px;
    z-index: 1;
}

.sponsors {
}

.sponsors h4 {
}

.sponsors ul {
    margin: 0;
    padding: 0;
}

.sponsors li {
    list-style: none;
    display: inline-block;
    width: 32%;
    max-width: 200px;
}

.sponsors .sponsor-become-a-sponsor {
    width: 100%;
    max-width: 400px;
}

.sponsors .sponsor-platinum {
    width: 100%;
    max-width: 400px;
}

.sponsors .sponsor-gold {
    width: 49%;
    max-width: 300px;
}

.sponsors li img {
    width: 100%;
    padding: 5%;
    height: auto;
}

.announcements {
    margin: 0;
    padding: 0;
}

.announcements dt h4 {
    font-size: 140%;
}

.announcements dt h4 a {
    display: block;
}

.announcements dt h4 span {
    font-size: 60%;
}

.announcements dd {
    margin-bottom: 32px;
}

.speaker .image {
    display: block;
    width: 320px;
    margin: 10px 0;
    height: auto;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
}

.btn-homepage {
    color: #FFF;
    background-color: #818181;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-homepage:hover, .btn-homepage:focus {
    color: #FFF;
    background-color: #696969;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-blog {
    color: #FFF !important;
    background-color: #57C791;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-blog:hover, .btn-blog:focus
{
    color: #FFF;
    background-color: #4BB482;
    border-color: rgba(0, 0, 0, 0.2);
}

.list-group-item {
    font-size: 110%;
}

.list-group-item span {
    margin-right: 8px;
}

.speaker-small {
    display: inline-block;
}

.speaker-small .image {
    width: 24px;
    height: auto;
    border: 1px solid #E7E7E7;
    border-radius: 100px;
}

.timetable .title {
    font-size: 110%;
}

.timetable .speaker {
    margin-top: 12px;
}

.timetable .speaker img {
    width: 36px;
    height: auto;
    border: 1px solid #E7E7E7;
    border-radius: 100px;
}

.timetable-wide .title {
    display: block;
}

.jobfair dt img {
    width: auto;
    height: 64px;
}

.well {
    background: #FFF !important;
    margin: 14px 0 20px;
}

.speakers img {
    width: 64px;
    height: 64px;
    border: 1px solid #E7E7E7;
    border-radius: 100px;
}

.speakers li {
    margin-bottom: 32px;
}

.speakers h4 .badges {
    margin-left: 10px;
}

.clear {
    clear: both;
}

.footer {
    padding: 10px 0;
    border-top: 1px solid #E7E7E7;
}

.footer p {
    font-size: 90%;
    margin-bottom: 0;
}

.footer .col {
    padding: 10px 0 20px;
}

.footer h3,
.footer h4
{
    margin-top: -10px;
}

.footer .pyconkr-badge {
    text-align: center;
}

.footer .pyconkr-badge img {
    width: 96px;
    height: auto;
}

.footer .btn-social-icon {
    font-size: 16px;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    border: 0;
    margin-right: 4px;
}

.footer .btn-social-icon :first-child {
    line-height: 44px;
}

.social-badges {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    opacity: 0.5;

    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.social-badges:hover {
    opacity: 1.0;
}

.social-badges span {
    float: left;
}

.badges {
    display: inline-block;
}

.badges .btn {
    margin-bottom: 5px;
}
