@media (max-width: 992px) {
    .titlebar {
        padding: 8px 0 16px 0;
        margin-bottom: 8px;
    }

    .titlebar h1 {
        font-size: 36px;
    }
    .sponsors li {
        width: 24%;
    }
    .titlebar .slogan {
        border: 0;
        display: inline-block;
        margin: 0;
        background: transparent;
        width: auto;
    }
    .titlebar .slogan div {
        display: inline;
        margin: 0;
        letter-spacing: 1px;
        color: #aaa;
    }
}

@media (max-width: 768px) {
    .navbar {
        top: 0px;
        width: 100%;
        z-index: 50;
    }
    .navbar-nav {
        margin-top: 4px;
    }
    .navbar .navbar-toggle {
        position: fixed;
        z-index: 100;
        top: 12px;
        right: 12px;
        margin: 0;
        background: rgba(255,255,255,0.95);
    }
    .navbar .navbar-collapse {
        background: rgba(255,255,255,0.98);
        top: 0px;
        position: fixed;
        width: 100%;
        min-height: 1024px;
        max-height: 1024px;
    }
    .navbar-translucent {
        position: absolute;
    }
    .navbar-translucent .navbar-toggle{
        position: absolute;
        background: rgba(0,0,0,0.5);
    }
    .navbar-translucent .navbar-collapse {
        background: rgba(0,0,0,0.9);
    }
    .navbar-translucent .dropdown-menu>li>a {
        color: #fff;
    }
    .navbar-translucent .nav>li>a:hover,
    .navbar-translucent .nav>li>a:focus,
    .navbar-translucent .dropdown-menu>li>a:hover,
    .navbar-translucent .dropdown-menu>li>a:focus {
        background-color: #555;
    }
    .navbar .glyphicon {
        margin-right: 12px;
        top: 6px;
        font-size: 32px;
    }
    .navbar .glyphicon-python {
        width: 32px;
        height: 32px;
    }
    .navbar-nav>li>a {
        padding: 10px 0 15px 15px;
        font-size: 24px;
        line-height: 30px;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        font-size: 20px;
        line-height: 30px;
    }
    .frontpage .slides {
        height: 480px;
    }
    .footer .col {
        text-align: center;
    }
    .halftone {
        display: none;
    }
}

@media (max-width: 640px) {
    .frontpage .slides {
        height: 400px;
    }
    .frontpage .slogan {
        padding: 0 15px 3%;
    }
    .frontpage .slogan h1 {
        font-size: 400%;
    }
    .frontpage .slogan h3 {
        font-size: 150%;
    }
}

@media (max-width: 480px) {
    .frontpage .slides {
        height: 320px;
    }
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container>.navbar-header,
    .container>.navbar-collapse {
        margin-left: -5px;
        margin-right: -5px;
    }

    .titlebar {
        padding: 4px 10px 8px;
        margin-bottom: 4px;
    }

    .titlebar h1 {
        font-size: 28px;
    }

    .frontpage .slogan h1 {
        font-size: 300%;
    }
    .frontpage .slogan h3 {
        font-size: 100%;
    }

    .well {
        margin: 14px -12px;
    }

    .jobfair dt img {
        width: auto;
        height: 32px;
    }
}

@media (min-width: 768px) {
    .container {
        width: auto;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
