{% load i18n %}
<h1><img src="http://www.pycon.kr/2015/static/image/pyconkr-badge.png" width="32" height="32" align="absmiddle"/> {% trans "PyCon Korea Registration confirmation" %}</h1>
<p>PyCon Korea 2015 참가신청이 완료 되었습니다.</p>
<p>안녕하세요 {{payment_info.name}}님</p>
<p>
    본 메일은 PyCon Korea 2015 등록완료 확인 메일입니다.<br/>
    <br/>
    PyCon Korea 2015에 등록해주셔 감사합니다.<br/>
    PyCon Korea 2015 는 <b>8월 29~30일</b> 서울시 상암동 누리꿈 스퀘어에서 개최됩니다.<br/>
    <ul>
        <li>장소 : 누리꿈 스퀘어</li>
        <li>주소 : 서울특별시 마포구 상암동 1605</li>
        <li>도로명 주소 : 서울특별시 마포구 월드컵북로 396</li>
        <li>안내 : <a href="http://nuri.nipa.kr/rt/">http://nuri.nipa.kr/rt/</a></li>
    </ul>
    행사와 관련된 정보는 <a href="http://www.pycon.kr/2015/">http://www.pycon.kr/2015/</a> 에서 확인하실 수 있습니다.<br/>
    <br/>
</p>
<h3>{% trans '결제 정보' %}</h3>
<table>
    <tr>
        <th align="right" style="padding-right: 5px;">이메일</th><td>{{payment_info.email}}</td>
    </tr>
    <tr>
        <th align="right" style="padding-right: 5px;">이름</th><td>{{payment_info.name}}</td>
    </tr>
    <tr>
        <th align="right" style="padding-right: 5px;">전화번호</th><td>{{payment_info.phone_number}}</td>
    </tr>
    <tr>
        <th align="right" style="padding-right: 5px;">소속</th><td>{{payment_info.company}}</td>
    </tr>
    <tr>
        <th align="right" style="padding-right: 5px;">금액</th><td>{{amount}}원 ({{payment_info.payment_method}})</td>
    </tr>
    <tr>
        <th align="right" style="padding-right: 5px;">거래번호</th><td>{{payment_info.merchant_uid}}</td>
    </tr>
    <tr>
        <th align="right" style="padding-right: 5px;">등록완료일</th><td>{{payment_info.modified}}</td>
    </tr>
</table>
<p> 결제와 관련된 정보는 <a href="http://www.pycon.kr{% url 'registration_status' %}">http://www.pycon.kr{% url 'registration_status' %}</a> 에서도 확인이 가능합니다.
<p>
    PyCon Korea 2015 에서 뵙겠습니다.<br/>
</p>
